*{
    box-sizing: border-box;
    margin: 0;
    
}
.cont1{
    height: 1400px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    height: 100px;
    width: 80%;
    background-color: grey;
    display: flex;
}
.head1{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img1{
    width: 25%;
    height: 100px;
    background-image: url("./images/img.jpg");
    background-size: cover;
    background-position: center;
    border: 1px;
    border-radius: 45%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100px;
    width: 60%;
}

nav{
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: maroon;
}
main{
    height: 1100px;
    width: 80%;
    
}
.main1{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    padding: 30px;
    
    width: 80%;
}
.buttons button{
    height: 30px;
    border: 1px;
    border-radius: 5px;
    margin-left: 30px;
    color: white;
    background-color: grey;
}
.buttons button:hover{
    background-color: maroon;
}
.main2{
    height: 350px;
    width: 100%;
    background-color: rgb(230, 221, 221);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    height: 200px;
    width: 30%;
    
    background-image: url("./images/serve2.webp");
    background-size: cover;
    position: relative;
    border: 1px;
    border-radius: 20px;
    
}
.project1{
    height: 200px;
    width: 30%;
    
    background-image: url("./images/muvkin.jpg");
    background-size: cover;
    position: relative;
    border: 1px;
    border-radius: 20px;
    opacity: 1;
    
}
.project2{
    height: 200px;
    width: 30%;
    
    background-image: url("./images/portfolio.jpeg");
    background-size: cover;
    position: relative;
    border: 1px;
    border-radius: 20px;
    opacity: 1;
}
.project2 h1{
    position: absolute;
    top: 40px;
    left: 100px;
    color: maroon;
}
.project h4{
    color: rgb(243, 142, 142);
    position: absolute;
    right: 0;
    top: 30px;
}
.project1 h2{
    color: maroon;
    position: absolute;
    left: 10px;
    top: 30px;
    opacity: 1;

}
.project p{
    color: black;
    position: absolute;
    right: 5px;
    top: 55px;
    font-weight: bolder;
}
.project1 p{
    color: black;
    position: absolute;
    left: 5px;
    top: 55px;
    font-weight: bolder;
    
}
.pupose{
    height: 100px;
    width: 30%;
    border :1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.pupose h4{
    color: maroon;
}
.pupose p{
    text-align: center;
}
.main3{
    height: 650px;
    width: 100%;
    /* background-image: url("/images/discusion.jpg"); */
    background-size: cover;
    background-color: rgb(248, 227, 227);

}
.main3Head{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}
.main3Head h1{
    color: maroon;

}
.main3Head p{
    font-size: 20px;
}
.main3Cont{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.mc{
    height: 350px;
    width: 25%;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
    box-shadow: -5px 5px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mc1{
    height: 400px;
    width: 25%;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
    box-shadow: -5px 5px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.mc2{
    height: 350px;
    width: 25%;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
    box-shadow: -5px 5px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.app{
    height: 60%;
    width: 90%;
    background-image: url("./images/apps.jpg");
    background-size: cover;
    border: 1px solid grey;
    border-radius: 5px;
}
.app1{
    height: 45%;
    width: 99%;
    background-image: url("./images/webpage.jpeg");
    background-position: center;
    background-size: contain;
    border: 1px solid grey;
    border-radius: 5px;
}
.app1 p{
    text-align: center;
}
.mc button{
    height: 30px;
    border: 1px;
    border-radius: 5px;
}
.app2{
    height: 45%;
    width: 99%;
    background-image: url("./images/lec.jpeg");
    background-position: center;
    background-size: contain;
    border: 1px solid grey;
    border-radius: 5px;
}
.mc button:hover{
    background-color: maroon;
    color: white;
}
footer{
    height: 200px;
    width: 80%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot1{
    height: 150px;
    width: 30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.foot2{
    width: 30%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.foot1 p{
    text-align: justify;
}
.foot2 form input{
    height: 40px;
    border: 1px;
    border-radius: 5px;

}
.foot2 form button{
    height: 40px;
    width: 80px;
    color: white;
    border: 1px;
    border-radius: 10px;
    background-color: maroon;
}